[Desktop Entry]
Type=Application
Name=VoidBR Snap Manager
Comment=Avisa quando o sistema foi iniciado a partir de um snapshot
Exec=/usr/bin/voidbr-snapper-manager check --notify
Icon=dialog-warning
NoDisplay=true
X-GNOME-Autostart-enabled=true
